<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        .layui-table-cell {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="layui-form-item">
    <div class="layui-input-inline" style="padding-top: 20px;">
        <input type="text" name="id" id="susername" style="width: 225px;"
                   placeholder="请输入用户姓名或者姓名关键字" autocomplete="off" class="layui-input">

    </div>
    <div style="float: right;margin-right: 5px">
        <form action="daoruUserList" method="post" enctype="multipart/form-data">
            <input type="file" value="人员信息导入"  style="margin-top: 25px" name="file" >
            <input type="submit" value="导入"class="layui-btn layui-btn-sm" id="daoru">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </form>
    </div>
</div>
<table id="userList" lay-filter="userList"></table>
<form action="" id="form1" class="layui-form" lay-filter="node">
    <div id="editpage" style="display: none">
        <div style="padding: 10px 15px 0 0">
            <div class="layui-form-item">
                <label class="layui-form-label">用户姓名:</label>
                <div class="layui-input-inline">
                    <input type="text" id="eusername" name="username"
                           lay-verify="required" placeholder="请输入用户姓名" autocomplete="off"
                           class="layui-input" value="">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">性别:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="esex" name="sex"
                               lay-verify="required" placeholder="请输入性别" autocomplete="off"
                               class="layui-input" value="">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系电话:</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="ephone"
                               placeholder="请输入电话号码" lay-verify="required" name="phone">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/cyh/user/daoruPhoto' //上传接口,
            ,accept: 'file'
            //,auto: false//自动上传
            //,bindAction: '#daoru'//跟auto配合使用,不自动提交后之地一个提交的按钮
            ,done: function(res){
                //上传完毕回调
                if(res.resultCode == 0){
                    layer.msg('上传成功!', {icon: 6});
                }else{
                    layer.msg('上传失败!', {icon: 5});
                }
            }
        });
    });

    table.render(tableConfig({
        elem : '#userList',
        url : '/cyh/user/getUserList', //数据接口
        height : 'full-293',
        toolbar : '#anniu',
        cols : [ [ //表头
            {
                field : 'id',
                title : '序号',
                fixed : 'left',
                hide: true
            }, {
                field : 'username',
                title : '用户'
            }, {
                field : 'sex',
                title : '性别'
            }, {
                field : 'phone',
                title : '电话号码'
            }, {
                field : 'creatTime',
                title : '创建时间'
            },{
                title : '操作',
                toolbar : '#barDemo',
                fixed : 'right'
            } ] ],
        id : 'listReload',
    }));
    /*----------------------------------搜索表格重载----------------------------------------------------------------*/
    var active = {
        reload : function() {
            var username = $('#susername');
            //执行重载
            table.reload('listReload', {
                page : {
                    curr : 1
                    //重新从第 1 页开始
                },
                where : {
                    username : username.val()
                }
            });
        }
    };
    /*------------------------------------操作(查看、编辑、删除)-------------------------------------------*/
    table.on('tool(userList)', function(obj) { //注：tool是工具条事件名，referralMine是table原始容器的属性 lay-filter="对应的值"
        var dataValue = obj.data; //获得当前行数据
        var param = dataValue.id;
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        if (layEvent === 'detail') { //查看
            layer.open({
                type : 1,
                title : '查看用户',
                area : [ '800px', '250px' ],
                content : '<div id="uaername"><br><h3 >'
                    + dataValue.username + ':' + '</h3>' + '<hr/>'
                    + '<p style="text-indent: 30px;line-height: 2;">'
                    + '联系电话:'+dataValue.phone + '</p></div>',
                btnAlign : 'c', //按钮居中
                btn : [ '确定' ],
                shade : 0.3, //显示遮罩
                yes : function() {
                    layer.closeAll();
                }
            });
        } else if (layEvent === 'del') { //删除
            layer.confirm('确定删除该用户吗?', function(index) {
                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                var state = -1;
                //向服务端发送删除指令
                postBase('/cyh/user/deleteUser', "id=" + param
                    + "&state=" + state, function(dataValue) {
                    if (dataValue.resultCode == '0') {
                        layer.msg('删除用户成功!')
                    }
                    table.reload('listReload', {
                        page : {
                            curr : 1
                            //重新从第 1 页开始
                        }
                    });
                });
            });
        } else if (layEvent === 'edit') { //编辑
            $("#eusername").attr("value", dataValue.username);
            $("#esex").attr("value", dataValue.sex);
            $("#ephone").attr("value",dataValue.phone);
            layer.open({
                type : 1,
                title : '用户编辑',
                skin : 'layui-layer-demo', //样式类名
                closeBtn : 1, //不显示关闭按钮
                area : [ '800px', '250px' ],
                content : $('#editpage').html(),
                btnAlign : 'c', //按钮居中
                btn : [ '提交', '取消' ],
                shade : 0.3, //显示遮罩
                success : function(layero, index) {
                    $(':focus').blur();
                    // 添加form标识
                    layero.addClass('layui-form');
                    // 将保存按钮改变成提交按钮
                    layero.find('.layui-layer-btn0').attr({
                        'lay-filter' : 'addRole',
                        'lay-submit' : ''
                    });
                },
                yes : function(index, layero) {
                    form.on('submit(addRole)', function(data) {
                        var field = data.field;
                        dataValue["username"] = field.username;
                        dataValue["sex"] = field.sex;
                        dataValue["phone"] = field.phone;
                        postJson('/cyh/user/editUser', JSON
                                .stringify(dataValue),
                            'application/json;charset=UTF-8',
                            function(data) {
                                if (data.resultCode == '0') {
                                    layer.msg('编辑用户成功!')
                                }
                                table.reload('listReload', {
                                    page : {
                                        curr : 1
                                        //重新从第 1 页开始
                                    }
                                });
                            });
                        layer.closeAll();
                    });

                },
                btn2 : function(index, layero) {

                }
            });
            //同步更新缓存对应的值
            obj.update({
                username : '123',
                title : 'xxx'
            });
        }
    });

    /*-----------------------------------------------------------------------------------------------*/
    //监听表格头部工具栏事件
    table.on('toolbar(userList)', function(obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'add':
                openEdit();
                break;
            case 'qingkong':
                $(function() {
                    $("#susername").val('');
                });
                break;
            case 'search':
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
                break;
                ;
                break;
        }
        ;
    }	);

    function openEdit() {
        $("#eusername").attr("value", '');
        $("#esex").attr("value", '');
        $("#ephone").attr("value", '');
        layer.open({
            type : 1,
            title : '新增人员信息',
            area : [ '800px', '250px' ],
            content : $('#editpage').html(),
            btnAlign : 'c', //按钮居中
            btn : [ '提交', '取消' ],
            shade : 0.3, //显示遮罩
            success : function(layero, index) {
                $(':focus').blur();
                // 添加form标识
                layero.addClass('layui-form');
                // 将保存按钮改变成提交按钮
                layero.find('.layui-layer-btn0').attr({
                    'lay-filter' : 'addRole',
                    'lay-submit' : ''
                });
            },
            yes : function(layero, index) {
                form.on('submit(addRole)', function(data) {
                    var field = data.field;
                    postJson('/cyh/user/addUser', JSON.stringify(field),
                        'application/json;charset=UTF-8', function(data) {
                            if (data.resultCode == '0') {
                                layer.msg('新增人员成功!')
                            }
                            table.reload('listReload', {
                                page : {
                                    curr : 1
                                    //重新从第 1 页开始
                                }
                            });
                        });
                    layer.closeAll();
                });
            },
            btn2 : function(index, layero) {
                layer.close(index);
            }
        });
    }
</script>
</body>
<!-- 表头按钮 -->
<script type="text/html" id="anniu">
    <button class="layui-btn  layui-btn-primary layui-btn-xs" title="搜索" lay-event="search" data-type="reload">
        <i class="layui-icon">&#xe615;</i>
    </button>
    <button class="layui-btn  layui-btn-primary layui-btn-xs" title="清空" lay-event="qingkong" id="qingkong">
        <i class="layui-icon">&#xe639;</i>
    </button>
    <button class="layui-btn  layui-btn-primary layui-btn-xs" title="添加" lay-event="add">
        <i class="layui-icon">&#xe654;</i>
    </button>
</script>
</html>