<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>车友汇欢迎您</title>
    <link rel="stylesheet" th:href="@{/other/layui/css/layui.css}">
    <script th:src="@{/js/jquery/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/other/layui/layui.js}"></script>
    <script th:src="@{/js/dataConfig.js}"></script>
    <script th:src="@{/js/formUtil.js}"></script>
    <script th:src="@{/js/ajaxUtil.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="font-size: 40px">车友汇</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
            <!--<li class="layui-nav-item"><a href="javascript:;">控制台</a></li>-->
            <!--<li class="layui-nav-item"><a href="javascript:;">商品管理</a></li>-->
            <!--<li class="layui-nav-item"><a href="javascript:;">用户</a></li>-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">其它系统</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="javascript:;">邮件管理</a></dd>-->
                    <!--<dd><a href="javascript:;">消息管理</a></dd>-->
                    <!--<dd><a href="javascript:;">授权管理</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<ul class="layui-nav layui-layout-right">-->
            <!--<li class="layui-nav-item">-->
                <!--<a href="javascript:;">-->
                    <!--<img src="http://t.cn/RCzsdCq" class="layui-nav-img">-->
                    <!--贤心-->
                <!--</a>-->
                <!--<dl class="layui-nav-child">-->
                    <!--<dd><a href="">基本资料</a></dd>-->
                    <!--<dd><a href="">安全设置</a></dd>-->
                <!--</dl>-->
            <!--</li>-->
            <!--<li class="layui-nav-item"><a href="">退了</a></li>-->
        <!--</ul>-->
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void (0)" onclick="loadPage('/cyh/user/openUserPage')">人员基本信息</a></dd>
                        <dd><a href="javascript:;">人员权限分配</a></dd>
                        <dd><a href="javascript:;">人员岗位分配</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">业务咨询</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">日工作量统计</a></li>
                <li class="layui-nav-item"><a href="javascript:;">日收入统计</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;"id="conStr">





        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        甘肃省张掖市甘州区西二环盛世锦苑车友汇
    </div>
</div>
<script>
    var layer;
    var index;
    var form;
    var element;
    var table;
    var laytpl;
    layui.use([ 'laypage','layer', 'form', 'element', 'table','laytpl' ], function() {
        layer = layui.layer,
            element = layui.element,
            table = layui.table
        laytpl = layui.laytpl,
            form = layui.form;

    });
    //加载页面
    function loadPage(url) {
        var index = layer.load(1);
        $('#conStr').load(url, function(responseTxt, statusTxt, xhr) {
            if (statusTxt == "success")
                element.render();
            if (statusTxt == "error") {
                layer.msg('该模块正在努力研发中......', {
                    icon : 6,
                    area: '300px',
                    time : 1500 //2秒关闭（如果不配置，默认是3秒）
                }, function() {});
            }
            layer.close(index);
        });

    }
</script>
<!--表格操作模板--->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</body>
</html>